*{
	margin: 0;
	padding: 0;
	box-sizing:border-box ;
	font-family:sans-serif ;

}


.header{
	width:100% ;
	display:flex ;
    align-items:center ;
	height:10vh ;
	padding:5px ;

	

	font-family:sans-serif ;
	
}

.navbar {
	width:100% ;
	display:flex ;
	margin:0px;
	margin-right:25px;
	align-items:center ;
	justify-content:space-between ;
	background-color:white ;
	padding:0px ;
	

 


}
.logo{
	width:120px ;
	cursor:pointer ;
	margin-top:0% ;
	margin-left:4px ;
	margin-right:14px ;
	padding:16px ;
	
	


} 
.ul navbar{
	float:right ;
	;
}
.btn2{
	color: red;
	font-weight:bold ;
	text-decoration: none;
	text-transform:uppercase ;
	font-size:13px ;
	border:2px solid red ;
	background-color: white;
	width:287px ;
	height:40px;
	padding:8px 16px ; 16px 35px
	display: inline-block;


}


 

.navbar a:hover{
	color:lightskyblue;
}


.main{
	
	height:200vh ;
	background-color:#f8f2ed ;
	width: 100%;

}
.intro{
	position:absolute ;
	top:100%;
	left:50% ;
	transform:translate(-50%)translateY(-50%) ;
	text-align:center ;
 font-size: 25px;


    

}

.intro h5{
	font-size: 15px;
	letter-spacing:4px ;
	position: relative;
    text-decoration: none;
	
	padding:0 18px ;
	 	font-size:18px ;
	line-height:70px ;
}
.intro h5:before{
	content: "";
    position: absolute;
    background-color: red;
    height:8px ;
    width: 25%;
    bottom:4px ;
    left:50% ;
    
    
   transform:translate(-50%)translateY(-50%) ;
}

}
.intro h1{
	letter-spacing:10px ;
	line-height:24px ;
	font-weight:bold ;
   word-spacing:0.4rem;
  


}


.info span{
	color: rgb(230,104,59);
}

.info a{
	text-decoration:none;
	color:#fff ;
	margin:26px,0 ;
	padding:10px,16px ;
	font-size:30px ;
	letter-spacing:2px ;
	font-weight:45px ;
	background:rgb(36,32 ,30);
	border-radius:10px ;


	 
}

.info a:hover{
	background:rgb(59,174,209);

}
.btn {
	line-height:210px ;
	padding top:12px ;
	background-color:red ;
	color:white ;
	text-decoration:none ;
	border-style:solid ;
	border-width:20px ;
	border-color:red;
	font-size:bold ;


}   
.section{
	width:100% ;
	
	background:white ;
	display:flex;

}
.about{
    margin:6rem ;
	align-items:center ;
	line-height:150% ;
	word-spacing:0.4rem; 
	width:45% ;
	

}
.about h2{
	padding-top:10px ;
	padding-bottom:10px ;
	margin-left:19px ;
	text-decoration: none;
   position: relative;


}
.about h2:before{
	content: "";
    position: absolute;
    background-color: red;
    height:4px ;
    width: 20%;
    bottom:0.1rem ;
    left:5% ;
   transform:translate(-20%)translateY(-20%) ;

}    



.about p{
	margin:1rem ;
	margin-bottom: 0;
}
.section2{
	margin:4rem ;
	margin-left:0px;
	width: 100%;
	height:68vh ;
	background-color:#f8f2ed ;
	margin-bottom:0px ;
    position: relative;
   bottom: 0;
    left: 0;
margin-bottom:0 ;
 display:flex;
  flex-wrap:wrap 
flex-basis:100% ;
gap:20px ;
  

}
.container{
	width:600px ;
	margin-left: 50px;

	
	

}
.container h2{
	margin-top:3rem ;

}
.container h2{
	padding-top:10px ;
	padding-bottom:10px ;
	margin-left:19px ;
	text-decoration: none;
   position: relative;


}
.container h2:before{
	content: "";
    position: absolute;
    background-color: red;
    height:4px ;
    width: 17%;
    bottom:0.1rem ;
    left:5% ;
   transform:translate(-20%)translateY(-20%) ;

} 
.container p{
	margin-top:2rem ;
	margin-bottom: 0;
	line-height:150% ;
	word-spacing:0.4rem;

}   	
.section3{

height:40vh ;
background-color:#111 ;
width: 100%;
    position: relative;
   bottom: 0;
    left: 0;
    margin-bottom:0 ;

}
.container3{
        color:white ;
	word-spacing:normal ;
	line-height:100% ;
     font-weight:bold ;
     position:absolute ;
	top:40%;
	left:50% ;
	transform:translate(-50%)translateY(-50%) ;
	text-align:center ;
	width:500px ;

   
}	
.container3 p{
padding-top:4rem ;
font-size:28px ;
 
 line-height:100% ;
 font-style:italic ;


  

}
.container3 h5{

	text-align: center;
    word-spacing:0.1rem ;
 margin-top:8px ;

}
.container3 h6{
	color:red ;
	text-align: center;
	word-spacing:0.1rem ;
	
}
.main2{
   display: flex;
    margin: 20px;
    background-color:#f8f2ed ;
    position: relative;
   bottom: 0;
    left: 0;
    margin-bottom:0 ;
    margin-top:0 ;
    margin-left:0 ;
    width:100% ;
    height:600px;
    }


form h2{
    color: black;
    margin: 1.2rem;
    font-size:16px ;
    margin-left: 0;
    
}

form h1:after{
	content: "";
    position: absolute;
    background-color: red;
    height:0.4rem ;
    width:6%;
    bottom:520px ;
    left:7% ;
   transform:translate(-50%)translateY(-50%) ;

} 

form{
    margin-top: 30px;
    margin-left: 50px;
    text-decoration: none;
  
}

input{
    letter-spacing: 1px;
    width: 420px;
    height: 50px;
    font-size: 16px;
    padding-left: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
}

textarea{
    outline: none;
    border-radius: 5px;
    width: 420px;
    height: 85px;
    letter-spacing: 1px;
    padding-left: 10px;
    font-size:16px;
}

button{
	 margin-bottom:6rem;
    cursor: pointer;
    text-decoration: none;
    padding: 6px 16px;
    font-size: 18px;
    color:white;
    background-color:darkslateblue ;
    font-family: cursive;
    border: 0;
    outline: 0;
    border-radius: 5px;
    transition: 0.2s ease;
}

button:hover{
    background-color: orange;
}    
footer{
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  background: #111;
}
footer .content{
  max-width: 1350px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .content p,a{
  color: #fff;
}
footer .content .box{
  width: 33%;
  transition: all 0.4s ease;
}
footer .content .topic{
  font-size: 19px;
  font-weight: 600;
  color:red;
  margin-bottom: 16px;
  margin-top: 1.4rem;

}
footer .content p{
  text-align: justify;
  margin-top:1.2rem ;
  	word-spacing:0.1rem ;
}
footer .content .lower .topic{
  margin: 24px 0 5px 0;
}
footer .content .lower i{
  padding-right: 16px;
}
footer .content .middle{
  padding-left: 80px;
}
footer .content .middle a{
  line-height: 32px;
}
footer .content .right input[type="text"]{
  height: 45px;
  width: 100%;
  outline: none;
  color: #d9d9d9;
  background: #000;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 17px;
  border: 2px solid #222222;
}
footer .content .right input[type="submit"]{
  height: 42px;
  width: 100%;
  font-size: 18px;
  color: #d9d9d9;
  background: #eb2f06;
  outline: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 12px;
  border: 2px solid #eb2f06;
  transition: all 0.3s ease-in-out;
}
.content .right input[type="submit"]:hover{
  background: none;
  color:  #eb2f06;
}
footer .content .media-icons a{
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 2px solid #222222;
  margin: 30px 5px 0 0;
  transition: all 0.3s ease;
}
.content .media-icons a:hover{
  border-color: #eb2f06;
}
footer .bottom{
  width: 100%;
  text-align: center;
  color: #d9d9d9;
  padding: 0 40px 5px 0;
  border: 1px solid white;
}
footer .bottom a{
  color: white;
}
footer a{
  transition: all 0.3s ease;
}
footer a:hover{
  color: #eb2f06;
}
@media (max-width:1100px) {
  footer .content .middle{
    padding-left: 50px;
  }
}
@media (max-width:950px){
  footer .content .box{
    width: 50%;
  }
  .content .right{
    margin-top: 40px;
  }
}
@media (max-width:560px){
  footer{
    position: relative;
  }
  footer .content .box{
    width: 100%;
    margin-top: 30px;
  }
  footer .content .middle{
    padding-left: 0;
  }
}
@media only screen
and(min-width:768px)
and(max-device-width:1024px)
and(-webkit-min-device-pixel-ratio:2)
and(orietation:portrait){
	
}
@media only screen and (min-width:640px) {
	.section2{
		flex-basis:50% ;
}
@media only screen and (min-width:960px) {
	.section2{
		flex-basis:33.333% ;
}
@media only screen and (min-width:12000px) {

}
	
        .grid-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 20px;
        }
    
